[Unit]
Description=Docker Application Container Engine (Rootless)
Documentation=https://docs.docker.com/go/rootless/
Requires=dbus.socket

[Service]
Environment=PATH=/usr/bin:/sbin:/usr/sbin:/home/azureuser/.local/share/pnpm:/home/azureuser/.local/bin:/home/azureuser/projects/purple/scripts:/home/azureuser/.local/share/mise/installs/node/22.22.0/bin:/home/azureuser/.local/share/mise/installs/pnpm/10.25.0:/home/azureuser/.local/share/mise/installs/kubeseal/0.33.1:/home/azureuser/.local/share/mise/installs/pulumi/3.219.0/pulumi:/home/azureuser/.local/share/mise/installs/kubectl/1.34.3:/home/azureuser/.local/share/mise/installs/flux2/2.7.5:/home/azureuser/.local/share/mise/installs/uv/0.10.0/uv-aarch64-unknown-linux-musl:/home/azureuser/.local/share/mise/installs/pipx-azure-cli/2.83.0/bin:/home/azureuser/.nix-profile/bin:/home/azureuser/.nix-profile/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/opt/nvim-linux-x86_64/bin
ExecStart=/usr/bin/dockerd-rootless.sh 
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutSec=0
RestartSec=2
Restart=always
StartLimitBurst=3
StartLimitInterval=60s
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
Delegate=yes
Type=notify
NotifyAccess=all
KillMode=mixed

[Install]
WantedBy=default.target
